body {
    color: darkslategrey;
    background-color: lavenderblush;
}
h1 {color: white; background-color: darkseagreen;}
h2 {color: darkseagreen}
a {color: darkseagreen}

nav {background-color: slategrey;}

nav a {color: white;}
nav {color: white;}

nav a:hover {background-color: gray;}