body {
    color: mistyrose;
    background-color: darkslategray;
    font-family: Garamond, serif;
}
h1 {color: mistyrose; background-color: darkseagreen;    font-family: Garamond, serif;
}
h2 {color: darkseagreen; font-family: Garamond, serif;
}
a {color: darkseagreen;font-family: Garamond, serif;
}

nav {background-color: darkseagreen;font-family: Garamond, serif;
}

nav a {color: mistyrose;font-family: Garamond, serif;
}
nav {color: mistyrose;font-family: Garamond, serif;
}

nav a:hover {background-color: darkseagreen;font-family: Garamond, serif;
}