body {
    color: darkslategray;
    background-color: darkseagreen;
    font-family: "Courier New", Courier, monospace;
}
h1 {color: darkslategray; background-color: darkseagreen; font-family: "Courier New", Courier, monospace	;
}
h2 {color: darkslategray; font-family: "Courier New", Courier, monospace;
}
a {color: mistyrose;font-family:"Courier New", Courier, monospace;
}

nav {background-color: darkslategray;font-family: "Courier New", Courier, monospace;
}

nav a {color: mistyrose;font-family: "Courier New", Courier, monospace;
}
nav {color: mistyrose;font-family: "Courier New", Courier, monospace;
}

nav a:hover {background-color: darkslategray;font-family: "Courier New", Courier, monospace;
}

div {
    border: 1px cadetblue;
    margin: 30px;
    padding: 50px;
    background-color: mistyrose; 
    border-radius: 25px;
}

nav {
    padding: 10px;
    background-color: darkslategray;
}

nav {
    padding: 10px;
    margin-bottom: 30px;
    background-color: darkseagreen;
}
